<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CRM4Mobile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CRM4MobileTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>31080F0416A3ECB800E25819</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31080F1B16A3ECF400E25819</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31080F3116A3ED2200E25819</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31080F4E16A3FA9F00E25819</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>316931FE13605A6800FDA523</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3169321E13605A7C00FDA523</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3170F36D139E482300D4AD91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31E297E7139F5E2B00B09C24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
